language: html
addons:
  ssh_known_hosts: /home/travis/.ssh/known_hosts
branches:
  only:
  - master
before_install:
  - chmod 600 ~/.ssh/travis_rsa
install:
  - apt-get install apache2
deploy:
  skip_cleanup: true
  provider: script
  script: ./deploy.sh
  on:
    all_branches: true
notifications:
  email: false
